.overview {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}

.overview img {
  height: 200px;
  box-shadow: 4px 4px 4px 4px black;
}

@media screen and (max-width: 1120px) {
  .overview img {
    height: 150px;
  }
}

@media screen and (max-width: 780px) {
  .overview img {
    height: 100px;
  }
}

@media screen and (max-width: 530px) {
  .overview img {
    height: 70px;
  }
}


